@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 241, 83%, 65%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
.custom-scrollbar {
  position: relative;
  z-index: 1000;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.custom-scrollbar-x::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 4px;
}
/* test color */
.color {
  /* Primary Colors */
  color: #f2f1f8;
  color: #e5e2f2;
  color: #cac5e5;
  color: #b0a9d8;
  color: #958ccb;
  color: #7b6fbe;
  color: #635999;
  color: #4b4374;
  color: #322e4e;
  color: #1a1829;

  /* Secondary Colors */
  color: #ffedf5;
  color: #ffdceb;
  color: #ffb8d8;
  color: #ff95c4;
  color: #ff71b1;
  color: #ff4e9d;
  color: #d33e81;
  color: #a82f65;
  color: #7c1f49;
  color: #51102d;

  /* CornflowerBlue Colors */
  color: #eff3ff;
  color: #dee7ff;
  color: #beceff;
  color: #9db6ff;
  color: #7d9dff;
  color: #5c85ff;
  color: #4a6dd6;
  color: #3755ad;
  color: #253d85;
  color: #12255c;

  /* Text Colors */
  color: #181818;
  color: #646464;
  color: #b7b5be;

  /* Custom Colors */
  color: #9fa6ad;
  color: #7b6fbe;
  color: #5c85ff14;
  color: #5c85ff3d;
  color: #edeff4cc;
  color: #e6eefdcc;
  color: #ffffffa3;
  color: #ff4e9d;
  color: #e9e9e9;
  color: #e4e2f2;
  color: #ff2b1f;
  color: #ffffff3d;
  color: #ffffffa3;
  color: #f5f5f5;

  /* Icon Color */
  color: #7b6fbe;
}
